<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag :defaults, :ckeditor %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
	
<% # link vers le  .rss des actions index de la page courante auto_discovery_link_tag(:rss, {:action => "index"}) %>
  </head>
  <body>
    <div id="container">
		<div id="wrapper" name="wrapper">
			<div id="header" name="header">
					<div id="topnav" name="topnav">
						<%= content_tag :h1, link_to ('Accueil', root_url)%>
						
					</div>
					<div id="usernav" name="usernav">
						<% if user_signed_in? %>
						Signed in as <%= current_user.email %> . Not you? 
						<%= link_to "Sign out", destroy_user_session_path()%>
						<% else %>
						 <%= link_to "Sign In", authentications_path %>
						<% end %>
					</div>
			</div>
			<div id="sidenav" name="sidenav">
				<div id="side-menu" name="side-menu">
					<ul class="menu">
						<h4>Menu</h4>
						<% for page in Page.all %>
						<li><%= link_to page.title, page %> </li>
						<% end %>
					</ul>
					<br/>
					<ul class="menu">
						<h4>Admin menu</h4>
						<li><%= link_to "Liste des pages", pages_path() %></li>
						<li><%= link_to "Liste des annonces", ads_path() %></li>
						<li><%= link_to "Liste des profiles", profiles_path() %></li>
					</ul>
				</div>
				
			</div>
			<div id="middle" name="middle">
				<div id="notifs" name="notifs">
					<% flash.each do |name, msg| %>
				        <%= content_tag :div, msg, :id => "flash_#{name}" %>
				      <% end %>
				</div>
				<div id="content" name="content">
					<%= yield %>
				</div>
			</div>
			<div id="footer" name="footer">
				
			</div>
		</div>
    </div>
  </body>
</html>

